<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../../public/css/admin.css">
    <link rel="stylesheet" href="../../public/css/adminListCategory.css">
    <link rel="stylesheet" href="../../public/css/adminListProducts.css">
    <script src="https://kit.fontawesome.com/f102f36a5d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav class="nav-admin">
            <ul>
                <li class="burger-menu" onclick="dropMenu()"><i class="fas fa-bars"></i></li>
                <li><a href=""><i class="fas fa-home"></i></a></li>
                <li><a href=""><i class="far fa-comments"></i></a></li>
                <li><a href=""><i class="fas fa-dollar-sign"></i></a></li>
                <li><a href=""><i class="fas fa-truck-loading"></i></a></li>
            </ul>
        </nav>

        <div class="menu-dropdown" id="navigation-bar-mobile">
            <ul class="product-btn">
                <li class="menu-btn" onclick="dropSubCategory1()" >Productos</li>
            </ul>
            <ul class="menu-btn-list" id="btn-product" >
                <li><a href="./allProducts.html">Ver Productos</a> </li>
                <li><a href="./admin.html">Agregar Productos</a> </li>
                <li><a href="./allCategorys.html">Ver Categorias</a></li>
                <li><a href="">Productos y categorias eliminados</a></li>
            </ul>

            <ul class="product-btn">
                <li class="menu-btn" onclick="dropSubCategory2()">Usuarios</li>
            </ul>
            <ul class="menu-btn-list" id="btn-user">
                <li><a href="">Ver Usuarios</a></li>
                <li><a href="">Agregar Usuario</a></li>
                <li><a href="">Usuarios desabilitados</a></li>
                
            </ul>
        </div>
    </header>



    <main class="all-categorys">
        <h3>Listado de Categorias</h3>
        <div class="list-category">
            <div class="category-detail">
                <div class="vist-category">
                    <div class="name-category">
                        <p>Categoria</p>
                    </div>
                    <div class="edit-delete-category">
                        <button class="btn-table modi" onclick="editButtonDrop()"><i class="far fa-edit"></i></button>
                        <button class="btn-table delete"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                
                <div class="edit-category">
                    <form action="">
                        <div class="form-edit-dropdown" id="form-drop-edit">
                            <input type="text" value="Categoria">
                            <button type="submit">Editar</button>
                        </div>

                    </form>
                </div>
                
                <hr>
            </div>
            


        </div>

        <div class="btn-add-category" onclick="addButtonDrop()">
            <button><i class="fas fa-plus"></i></button>
        </div>

        <div class="add-category">
            <form action="">
                <div class="form-add-dropdown" id="form-drop-add">
                    <input type="text" value="Categoria">
                    <button type="submit">Agregar</button>
                </div>

            </form>
        </div>
    </main>
    <script src="../../public/js/menuAdmin.js"></script>
</body>
</html>