<footer class="footer">
    <div class="content">
        <div class="main_footer">
            <nav class="main_navbar_footer">
                <h4>Navegación</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </nav>
            <nav class="contacts">
                <h4>Contáctanos</h4>
                <ul>
                    <li><a href="#">Teléfono</a></li>
                    <li><a href="#">e-mail</a></li>
                    <li><a href="#">Ubicación</a></li>
                </ul>
            </nav>
            <nav class="social">
                <h4>Redes Sociales</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                </ul>
            </nav>
            <p>© Todos los derechos reservados. Marca Registrada</p>
        </div>
    </div>
</footer><!-- footer -->