<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <div class="header">
        <div class="content">
            <header class="main-header">
                <div class="burger_menu">
                    <i class="fas fa-bars"></i>
                </div>
    
                <div class="logo_container">
                    <a href="/home">
                        <img src="images/Logo.png" alt="logo">
                    </a>
                </div>
    
                <nav class="navbar_main_header">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                    </ul>
                </nav>
    
                <div class="search">
                    <form action="">
                        <input type="text" name="search" id="search" placeholder="Buscar">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
    
                <nav class="user_navbar">
                    <a href="#"><i class="far fa-user-circle"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </nav>
            </header>
        </div>
    </div>

    <main>
        <div class="rute">
            <a href="/home">Home</a>
            <span>/</span>
            <a href="/Mi cuenta">Mi cuenta</a>
            <span>/</span>
            <a href="/login">Inicio de sesión</a>
        </div>

        <h2>Inicio de sesión</h2>
        <div class="form-container">
            <form action="">
                <div class="form">
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="aaaaaaaaa@example.com" required>
                        <span class="error-message">Ingrese un email registrado</span>
                    </div>

                    <div class="input-container">
                        <label for="pass">Contraseña</label>
                        <input type="password" id="pass" name="password" placeholder="password" required>
                        <span class="error-message">Contraseña no valida</span>
                    </div>

                    <div class="recover-password">
                        <a href="#">¿Olvidaste la Contraseña?</a>
                    </div>

                    <div class="button-submit">
                        <button type="submit">Iniciar</button>
                    </div>

                    <div class="create-count">
                        <a href="/register">¿No tenés una cuenta? Crear una</a>
                    </div>
                    <hr>
                </div>
            </form>



            <div class="log-in-google">
                <a href="#"><img src="images/logo-google.png" alt="google"> Crear cuenta con Google</a>
            </div>
        </div>
    </main>
</body>

</html>