<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de producto</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body class="product-detail">
    <div class="header">
        <div class="content">
            <header class="main-header">
                <div class="burger_menu">
                    <i class="fas fa-bars"></i>
                </div>

                <div class="logo_container">
                    <a href="/home">
                        <img src="images/Logo.png" alt="logo">
                    </a>
                </div>

                <nav class="navbar_main_header">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                    </ul>
                </nav>

                <div class="search">
                    <form action="">
                        <input type="text" name="search" id="search" placeholder="Buscar">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <nav class="user_navbar">
                    <a href="#"><i class="far fa-user-circle"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </nav>
            </header>
        </div>
    </div><!-- haeder -->
    <div class="content">
        <h3>Inicio/Categoría/Sub-categoría/Nombre del producto</h3>
        <section class="detail-top">
            <div class="img-content">
                <img src="images/rosa-china.jpg" alt="">
            </div>
            <div class="sale-detail">
                <p>Nombre del producto</p>
                <p>$ 250,50</p>
                <hr>
                <div class="color-select">
                    COLOR:
                    <input type="radio" name="color" id="red">
                    <label for="red">
                    </label>
                    <input type="radio" name="color" id="pink">
                    <label for="pink">
                    </label>
                    <input type="radio" name="color" id="white">
                    <label for="white">
                    </label>
                </div>
                <div class="size-selector">
                    <label for="size">TAMAÑO:</label>
                    <select name="size" id="size">
                        <option value="15">S (15 cm de alto)</option>
                        <option value="30">M (30 cm de alto)</option>
                        <option value="45">L (45 cm de alto)</option>
                    </select>
                </div>
                <div class="quantity-selector">
                    <label for="quantity">CANTIDAD:</label>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <button class="btn">Agregar al carrito</button>
            </div><!-- sale-detail -->

        </section><!-- details-top -->

        <section class="detail-bot">
            <div class="description">
                <h3>Descripción</h3>
                <p>
                    UBICACIÓN: Exterior a pleno sol.
                </p>
                <p>
                    SUSTRATO: Fértil, ácido, bien drenado, aunque es tolerante.
                </p>
                <p>
                    FLORACIÓN: Todo el año si se colocan en un lugar protegido.
                </p>
                <p>
                    OBSERVACIONES: A pleno sol se comportan como perennes y florecen permanentemente. En lugares húmedos
                    es susceptible al oídio, un hongo que mancha sus hojas e impide su floración. Se pueden recortar a
                    fin del Invierno, y del Verano para mantenerlas compactas.
                </p>
            </div>

            <div class="opinions">
                <h3>Opiniones</h3>
                <div class="opinion">
                    <div class="stars">
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star not_painted"></i>
                        <i class="fas fa-star not_painted"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error natus veritatis illo at, dolor
                        laboriosam qui quas enim non corporis!</p>
                </div>
                <div class="opinion">
                    <div class="stars">
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star not_painted"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error natus veritatis illo at, dolor
                        laboriosam qui quas enim non corporis!</p>
                </div>
                <div class="opinion">
                    <div class="stars">
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star painted"></i>
                        <i class="fas fa-star not_painted"></i>
                        <i class="fas fa-star not_painted"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error natus veritatis illo at, dolor
                        laboriosam qui quas enim non corporis!</p>
                </div>
            </div><!-- opinions -->
        </section><!-- details-bot -->
        <section class="related-products">
            <h2>PRODUCTOS RELACIONADOS</h2>
            <div class="products">
                <div class="product">
                    <img src="images/canasto-con-asas.jpeg" alt="">
                    <p>CANASTO CON ASAS</p>
                    <p>$600</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/cat-macetas.jpeg" alt="">
                    <p>MACETAS GRANDES</p>
                    <p>$1000</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/cat-plantas.jpeg" alt="">
                    <p>PLANTINES</p>
                    <p>$400</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/cat-semillas.png" alt="">
                    <p>SEMILLAS</p>
                    <p>$500</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/malvón-italiano.png" alt="">
                    <p>malvón italiano</p>
                    <p>$800</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/orquidea-dendrobium.jpeg" alt="">
                    <p>orquidea</p>
                    <p>$700</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/rosa-china.jpg" alt="">
                    <p>Rosa china</p>
                    <p>$250</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/canasto-con-asas.jpeg" alt="">
                    <p>CANASTO CON ASAS</p>
                    <p>$600</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/cat-macetas.jpeg" alt="">
                    <p>MACETAS GRANDES</p>
                    <p>$1000</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/cat-plantas.jpeg" alt="">
                    <p>PLANTINES</p>
                    <p>$400</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/cat-semillas.png" alt="">
                    <p>SEMILLAS</p>
                    <p>$500</p>
                    <button class="btn">Comprar</button>
                </div>
                <div class="product">
                    <img src="images/malvón-italiano.png" alt="">
                    <p>malvón italiano</p>
                    <p>$800</p>
                    <button class="btn">Comprar</button>
                </div>
            </div><!-- products -->
        </section><!-- related-products -->
    </div><!-- content -->
    <footer class="footer">
        <div class="content">
            <div class="main_footer">
                <nav class="main_navbar_footer">
                    <h4>Navegación</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                    </ul>
                </nav>
                <nav class="contacts">
                    <h4>Contáctanos</h4>
                    <ul>
                        <li><a href="#">Teléfono</a></li>
                        <li><a href="#">e-mail</a></li>
                        <li><a href="#">Ubicación</a></li>
                    </ul>
                </nav>
                <nav class="social">
                    <h4>Redes Sociales</h4>
                    <ul>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    </ul>
                </nav>
                <p>© Todos los derechos reservados. Marca Registrada</p>
            </div>
        </div>
    </footer><!-- footer -->
</body>

</html>