*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.list-product-admin{
    background: rgb(241,239,178);
    background: linear-gradient(90deg, rgba(241,239,178,1) 6%, rgba(202,212,152,1) 18%, rgba(98,120,29,1) 47%, rgba(217,215,163,1) 91%);
}

.all-productos{
    margin: 50px auto 0;
    width: 100%;
    height: 100%;   
}


.all-productos h3{
    text-align: center;
}
.list-container{
    display: flex;
    justify-content: center;
    overflow-x: auto;

}
table {
    border-collapse: collapse;
    width: 50%;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    background-color: #feffff;
    
    

}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;

}
  
td button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    
}
.modi i{
    color: rgb(0, 161, 0);
}

.delete{
    color: red;
}
tr:hover {background-color: #D6EEEE;}


