.main-home-admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    width: 100%;
}

.main-home-admin div{
    width: 20%;
   
}

.main-home-admin img{
    width: 100%;
}

.main-home-admin h2{
    text-align: center;
}