

body.list-user-admin{
    background: url('../img/fondoAdminUsers.jpg');
    width: 100%;
    height: 100%;
    z-index:-1;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.main.list-user h3{
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
}
.list-container{
    display: flex;
    justify-content: center;
    overflow-x: auto;

}

table {
    border-collapse: collapse;
    width: 50%;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    background-color: #feffff;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;

}
  
td button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    
}
.modi i{
    color: rgb(0, 161, 0);
}

.delete{
    color: red;
}

tr:hover {background-color: #D6EEEE;}



