*{
    margin: 0;
    padding: 0;
}
.conteiner{
    height: 300px;
    width: auto;
    overflow: hidden;

}
.carrusel{
    height: 100%;
    position: relative;
}
.imagenCarrusel{
    height: 100%;
}
.flechas{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
