.rute-profile{
    
    font-size: 1rem;
    letter-spacing: 2px;
}
.rute-profile p{
    display: inline-block;

}
#buttonSubmit{
    display: none;
}
.body-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-submit{
    background: none;
    border: none;
    font-size: 1.1rem;
    align-self: flex-end;
    cursor: pointer;
    color: gray;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 400;
}

.inputs-container-pass{
    display: none;
}

.ds-block {
    display: block;
}


#submitFile{
    margin-top: 10px;
    font-size: 1rem;

}
#btn-change-password{
    font-size: 1rem;
    text-decoration: underline;
    cursor:pointer;
}

.inputs-container-pass button{
    padding: 3px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: none;
    background-color: #5678EF;
    color: white;
}

.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-container{
    width: 90%;
    padding: 1rem;
    margin: 10px 0;
    background: rgba(216, 179, 132, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
}

#last_email{
    display: none;
}
.image-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-container img{
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    border: 3px solid rgb(179, 179, 179);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.input-image{
    text-align: center;
    margin: 10px 0 30px 0;
}
#labelAvatar{
    width: 200px;
    background-color: #5678EF;
    padding: 5px 30px;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


#file{
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    opacity: 0;
}
  

.btn-submit:hover{
    color: rgb(201, 201, 201);
}

.data-user{
    width: 90%;
    background: rgba(216, 179, 132, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    padding: 1rem;
}

.title-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.data-container{
    padding-top: 1rem;
}
.input-contain, .change-password{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-contain label, .input-contain input, .change-password label, .box-input input, .input-contain .box-data-input select{
    display: block;
    margin: 4px 0;
    padding: 5px
    
}
.input-contain label, .change-password label{
    width: 40%;
    font-family: Ruluko;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
    
}
.error-message{
    color: red;
    font-size: 16px;
    margin: 5px 5px 10px;
}

.box-input, .box-data-input{
    width: 60%;
}
.change-password .box-input input, .input-contain .box-data-input input, .input-contain .box-data-input select{
    background-color: aliceblue;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgb(143, 143, 143);
    font-style: italic;
    font-family: Ruluko;
    font-weight: normal;
}

.input-contain input[type=number]::-webkit-inner-spin-button, 
.input-contain input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-contain input:focus, .change-password .box-input input:focus, .input-contain .box-data-input select:focus{
    outline: none;
    color: black;
    border-bottom:  2px solid rgb(177, 177, 177);
    font-family: Ruluko;
    font-weight: normal;
    font-style: normal;
}
#edit{
    font-size: 1.2rem;
    align-self: flex-end;
    cursor: pointer;
    color: gray;
    text-transform: capitalize;
    text-decoration: underline;
}

#edit:hover{
    color: rgb(168, 168, 168);
}


.title-profile h2{
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.is-invalid{
    border: 1px solid red !important;
}
.is-valid{
    border: 1px solid rgb(183, 240, 99);
}
.text-danger{
    font-size: 1rem;
    color: red;
    font-weight: bold;
}
.ds-none{
    display: none;
}

@media (min-width : 775px) {
    .data-user{
        max-width: 700px;
    }
    .input-contain label, .input-contain input, .input-contain .box-data-input select{
        display: block;
        margin: 7px 0;
        padding: 7px;
        font-size: 1.1rem;
    }
    .input-contain label{
        font-weight: 500;
    }
    .input-contain input:focus, .input-contain .box-data-input select:focus{
        border-bottom:  3px solid rgb(177, 177, 177);
    }
    .avatar-container{
        max-width: 700px;
    }
}

@media (min-width : 1440px) {
    .rute-profile{
        padding-top: 30px;
    }
    .body-profile{
        margin-top: 40px;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .profile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .avatar-container{
        max-width: 500px;
        align-self: flex-start;
        margin: 0;
    }

}