/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Rum+Raisin&display=swap');

/* Variable */
@import url("variables.css");

@import url("header.css");

@import url("footer.css");

@import url("home.css");

@import url("login.css");

@import url("productDetail.css");

@import url("register.css");

@import url("shopping-cart.css");

/*Generales*/

*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}


.btn:hover{
    background-color:#5d7233b6;
    box-shadow: 0 5px 20px 0 rgba(143, 143, 143, 0.24),0 5px 20px 0 rgba(126, 126, 126, 0.19);


}


.btn:active{
    transform: translateY(4px);
    background-color: #83b323;
}