<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Preguntas Frecuentes</title>
</head>

<body class="frecuent-questions-container">
    <%- include('./partials/header.ejs') %>

        <main class="frecuent-questions-contain">
            <div class="rute-container">
                <div class="rute cate-product">
                    <a href="/">Home</a>
                    <span>/</span>
                    <a href="/frequent-questions">Preguntas Frequentes</a>
                </div>
            </div> 
            <div >
                <h2>Preguntas Frequentes</h2>
                <h4>Ubicación</h4>

                <p>Vivero Timbo cuenta con dos locales que brindan atención al público.</p>

                <p>CASA CENTRAL CASTELAR Av. Rivadavia 21096</p>

                <p>SUCURSAL PALERMO Av. Raúl Scalabrini Ortiz 1240</p>


                <h4>Horario de Atención</h4>
                
                <p>Casa Central Castelar</p>
                <p>Lunes a Sábados de 9 a 17 Hs</p>
                <p> Domingos y Feriados de 9 a 13 Hs</p>
               
                <h4>Sucursal Palermo</h4>
                <p>Lunes a Sábados de 10:30 a 18:30 Hs</p>
                <p>Domingos y Feriados de 10:30 a 18:30 Hs</p>
               
                <h4>Tienda Online</h4>
                <p>Lunes a Sábados de 10 a 18 Hs</p>
                


                <h4>¿Cómo puedo hacer una compra?</h4>
                
                <p>Podés acercarte a cualquiera de nuestros dos locales en el horario de atención indicado más arriba. Para
                realizar tu compra, tenemos carritos con los que podrás recorrer el vivero seleccionando las plantas,
                macetas y artículos de jardinería que necesites. Luego, podés acercarte al mostrador donde se encuentra
                la línea de cajas, para abonar tu compra. Tené en cuenta que, si necesitas agroquímicos o sustratos, los
                pedís directamente en mostrador antes de abonar (los vendedores te indicaran cual es el producto
                indicado para tus plantas)</p>
                
                <p>También ofrecemos el servicio de asesoramiento personalizado, en el mostrador solicitas un vendedor y
                cuando haya uno disponible te ayudaremos a elegir las nuevas plantas para tu hogar.</p>
                


                <h4>¿Y si quiero comprar desde mi casa?</h4>
                
                <p>En nuestra TIENDA ONLINE vas a encontrar una amplia variedad de plantas, macetas, sustratos y artículos
                de jardinería. Continuamente estamos actualizando el stock y renovando los productos.</p>
                
                <p>Si necesitas ayuda para realizar una compra online, podés escribir directamente por WhatsApp al sector
                de Asesoramiento y Ventas (11 1111 1111).</p>
               


                <h4>¿Cómo puedo conocer el cuidado de cada planta?</h4>
                
                <p>Las plantas de nuestra Tienda Online cuentan con una ficha técnica donde podrás encontrar información
                sobre cómo cuidarla. También hay imágenes de referencia, los tamaños en que viene cada planta y los
                valores.</p>
                
                <p>Todas las plantas están organizadas en 3 subcategorías principales, según cual sea su ubicación ideal:
                Plantas de Interior, de Media Sombra y para Pleno Sol.</p>
                


                <h4>¿Cómo puedo saber las dimensiones reales de cada planta?</h4>
                
                <p>Se pueden identificar según la medida de referencia que figura en cada planta: XS, S, M, L, XL, XXL. Por
                ejemplo, una planta en tamaño M será de dimensiones medianas y una XXL será una planta muy grande.</p>
                
                <p>Además, podes guiarte por el tamaño de la maceta en que vienen del cultivo. Estos pueden medirse según
                el diámetro de la maceta o la capacidad / volumen de la misma. Por ejemplo, un plantín floral en maceta
                “N°12”, tiene un diámetro de 12 cm, seguramente sea una planta pequeña e ira acompañada de la referencia
                S: “PETUNIA S (N°12)”.</p>

                <p>La otra forma es que se indique el volumen de la maceta de cultivo, por ejemplo, si dice “3 L”,
                significa que la planta viene en una maceta de 3 Litros de capacidad; en este caso será una planta
                mediana acompañada de la referencia M: “ROSA CHINA M (3 L)”.</p>

                <p>Es muy complicado definir una medida exacta para cada tipo de planta, ya que al no ser un producto
                prefabricado, no siempre vienen del cultivo con las mismas dimensiones. Son seres vivos y muchas veces
                varían un poco la altura, la cantidad de hojas, pueden ser más o menos tupidas. Se puede tener en cuenta
                que mientras más grande sea la maceta de cultivo, tendremos una planta más adulta, de mayor desarrollo y
                tamaño.</p>

                


                <h4>¿Cómo elegir correctamente el tamaño de la maceta en la que quiero trasplantar mi planta?</h4>

                <p>Para elegir la medida correcta, hay que conocer el tamaño de maceta de cultivo en la que viene la
                planta. Por ejemplo, si dice "S (N°12)", la planta es pequeña y tiene una maceta de 12 cm de diámetro.
                Te recomendamos que elijas una nueva maceta que sea por lo menos una o dos medidas más grande, así la
                planta tiene posibilidad de crecer y desarrollarse.</p>

                
                <h4>Posibles medidas (aproximadas):</h4>
                <p>-S (N°12) debe ir en una maceta N°14 a N°18.</p>
                <p>-M (N°20 o 5 Litros) debe ir en maceta N°24 a N°30.</p>
                <p>-L (N°25 o 10 Litros) debe ir en maceta N°30 a N°40.</p>
                


                <h4>¿Qué tierra debo usar para cada planta?</h4>
                <p>El tipo de sustrato que utilicemos depende la planta. Para las de interior, recomendamos usar la mezcla
                para “PLANTAS DE INTERIOR". En cambio, con las plantas que son de exterior (como florales o arbustos),
                recomendamos utilizar “SUSTRATO VIVERO TIMBO” o "COMPOST ORGÁNICO". Estos productos vienen listos para
                usar directamente en tus plantas.</p>
                
                <p> Es muy importante tener en cuenta que, para armar la planta en la nueva maceta, vamos a necesitar:
                -TIERRA, que varía según el tipo de planta.
                -POMETINA, debe colocarse una capa de 3 a 5 cm en el fondo de la maceta, asegurando así un correcto
                drenaje.
                -CORTEZA DE PINO, se coloca en la superficie de la tierra un manto de 3 a 5 cm de espesor (sirve para
                proteger la tierra del viento y de los rayos del sol, también decora).</p>
                

                <p>La cantidad de sustrato necesaria, depende de la capacidad de la maceta. En la descripción de cada
                maceta vas a encontrar tablas donde figura el volumen medido en Litros = Dm³. Entre la maceta de cultivo
                en que viene la planta, la pometina, la tierra y la corteza, se debe completar el volumen de la maceta
                elegida.</p>

                

                <h4>¿Cuánto tiempo demoran en entregarme mi pedido?</h4>

                <p>Demoramos entre 1 y 3 días hábiles desde el primer contacto que realizamos por WhatsApp, recién a partir
                de ese momento comenzamos a procesar tu compra. Si llega a haber algún inconveniente con tu pedido, como
                por ejemplo un faltante de stock, los tiempos de entrega podrían demorarse unos días más. En todo
                momento estarás en contacto con un vendedor que se encargará de asesorarte y coordinar la entrega de tu
                pedido.</p>

                


                <h4>¿Qué pasa si no hay stock?</h4>
                
                <p>Una vez realizada la compra te vamos a escribir por WhatsApp desde el sector de Envíos y Post-Ventas de
                VIVERO MARIO. Un vendedor se encargará de atender tu pedido, una vez confirmada la disponibilidad de
                todos los productos, procederá a coordinar la fecha de entrega y definir la tarifa final del delivery.</p>
                
                <p>En caso de haber un faltante de stock, te podemos ofrecer varias opciones para solucionarlo:
                -Reemplazarlo por un producto de similares características
                -Encargarlo a nuestros proveedores
                -Devolverte el dinero de los productos faltantes, o bien de toda la compra</p>
                
                <p>El vendedor asignado a tu pedido será quien se encargue de asesorarte por WhatsApp y encontrar la mejor
                solución posible.</p>
                

                <h4>¿Cómo son los envíos a domicilio?</h4>

                <p>Vivero Timbo no cuenta con un servicio propio de entregas, trabajamos con una agencia de fletes de
                confianza muy experimentada en el traslado de plantas, macetas y de artículos de jardinería.</p>
                
                <p>Para CABA, el costo de envío se abona directamente por la Tienda Online según el barrio en el que
                debemos realizar la entrega, y el volumen y peso del pedido. Las tarifas podes verlas en el calculador
                de costos del carrito y están divididas en dos zonas y dos tamaños de pedido:</p>

                <p>ZONA 1: Palermo, Belgrano, Colegiales, Chacarita, Villa Crespo, Caballito, Almagro, Balvanera, Recoleta,
                Villa Ortúzar, Parque Chas, Agronomía, Paternal, Boedo, San Cristóbal.</p>

                <p>Zona 2: Retiro, San Nicolás, Monserrat, Constitución, San Telmo, Puerto Madero, La Boca, Barracas,
                Parque Patricios, Nueva Pompeya, Villa Soldati, Villa Lugano, Villa Riachuelo, Flores, Parque Chacabuco,
                Parque Avellaneda, Mataderos, Villa General Mitre, Villa Santa Rita, Floresta, Velez Sarsfield, Villa
                Luro, Liniers, Versalles, Monte Castro, Villa del Parque, Villa Real, Villa Devoto, Villa Pueyrredón,
                Saavedra, Coghlan, Nuñez, Villa Urquiza.</p>
                

                

                <p>Pedido BOX: Pedido pequeño y liviano que entre en una caja de cartón de 35 cm de ancho, 45 cm de largo,
                y 40 cm de alto. Máximo 12 kg.</p>
                <p>Pedido Delivery: Pedido que entre en 2 carritos normales de supermercado aproximadamente.</p>

                <p>La TARIFA FINAL puede variar, ya que la misma depende no solo de la distancia al Vivero, sino también
                del peso y del volumen de tu pedido. Si correspondiera abonar un adicional por peso y/o por volumen, te
                lo informaremos por WhatsApp, pudiendo pagar directamente en efectivo al fletero o bien por WhatsApp
                mediante un link de Mercado Pago o Transferencia.</p>
                

                <p>Para GRAN BUENOS AIRES, te cotizamos el costo de entrega directamente con la Agencia de fletes. Por
                WhatsApp te informaremos la tarifa final.</p>
                
                <h4>¿Hacen envíos al interior?</h4>

                <p>No realizamos entregas al interior del país. Solo trabajamos en CABA y Gran Buenos Aires. La opción que
                podemos ofrecerte es que contrates un expreso privado o un comisionista que se encargue de retirar los
                productos, nosotros los embalaremos y prepararemos adecuadamente para el viaje.</p>
                



                

                

                    <h4>¿Puedo retirar mi compra?</h4>

                    <p>Sí, tenemos un Pick Up Point en nuestra sucursal de Palermo. No te olvides que los retiros son
                únicamente con turno programado, solo podés acercarte a retirar una compra online cuando te autoricemos
                para hacerlo.</p>

                <p>No realizamos entregas en nuestro local sin turno previo, te pedimos que no te acerques hasta que te
                hayan autorizado desde el Sector de Envíos y Post Venta. Tené en cuenta que previamente debemos preparar
                tu pedido y eso nos toma un poco de tiempo.</p>

                
                    <h4>¿Puedo cambiar un producto? ¿Qué pasa si me llego en malas condiciones?</h4>


                
                    <p>Si el producto recibido tiene fallas técnicas de fábrica o del cultivo, podés ponerte en contacto con el
                sector de Envíos y Post Venta, para que solucionemos la situación. Siempre vamos a evaluar tu reclamo o
                inquietud, tratando de encontrar la mejor solución posible.</p>
                <p>Es importante que cuando recibas o retires tu pedido, revises muy bien los productos entregados, a fin
                de evaluar cualquier problema que pueda surgir y presentarnos así tu reclamo lo antes posible.</p>

                


                    <h4>¿Cómo y cuándo voy a recibir mi factura?</h4>
                    <p>Hacemos facturas “A” y “B”. La mismas son emitidas en pesos argentinos y por el monto total del pago
                realizado. Las facturas son electrónicas y se envían por mail al correo con el que te registraste en la
                Tienda Online.</p>

                
                <p>Es muy importante que nos brindes los datos correctos para la facturación. En el caso de necesitar una
                factura A, debe facilitarnos la Razón Social, el número de CUIT, el domicilio y el código postal. Para
                facturas consumidor final, será necesario su nombre completo, DNI, dirección y código postal.</p>
                
                <p>Si por algún motivo no recibiste tu factura, podes ponerte en contacto con nosotros así te la enviamos.</p>
                

                    <h4>¿Qué opciones de pago tengo?</h4>

                
                    <p> Nuestra tienda online está vinculada a la plataforma de Mercado Pago, lo que nos permite aceptar todas
                las tarjetas de crédito, la cantidad de cuotas y el interés dependerán de las promociones y acuerdos que
                tenga tu banco con Mercado Pago.</p>
               
                <p>También podés abonar los artículos en efectivo contra entrega de la mercadería o bien mediante una
                transferencia bancaria a la cuenta del vivero. Si optas por esta última opción, te brindaremos los datos
                de la cuenta cuando te escribamos por WhatsApp.</p>
                


                    <h4>Información Importante</h4>
                
                    <p>Los precios pueden variar sin previo aviso, están expresados en Pesos Argentinos e incluyen IVA.</p>
                
                    <p>No tenemos envíos sin cargo, trabajamos con una agencia de fletes de confianza (podés ver las tarifas en
                el carrito de nuestra Tienda Online). Los costos del delivery quedan a cargo del cliente, siendo este
                quien los deba abonar en todos los casos.</p>
                <p>El stock se encuentras sujeto a disponibilidad de la mercadería en la sucursal de Palermo, pudiendo
                demorar hasta 15 días hábiles en conseguir el producto y entregarlo al cliente. Si llegamos a tener
                algún faltante de stock, trataremos de conseguirlo lo antes posible, de cambiarlo por un producto de
                similares características o te devolvemos el dinero de tu compra.</p>

                <p>Las ventas están sujetas a un tiempo de proceso de hasta 3 días hábiles en el horario laboral de Lunes a
                Sábados de 10 a 18 hs. La Tienda Online no trabaja los Domingos ni los Feriados.</p>

                
                <p> Cualquier anulación o modificación de una orden de compra generada en nuestra Tienda Online, debe ser
                comunicada por WhatsApp.</p>
               
                <p>Es importante que nos proporciones una dirección válida en el caso de que hayas solicitado un envío a
                domicilio. Si los datos que nos brindas no son correctos y por ese motivo el transporte no puede
                localizarte ni entregar el producto en destino, vas a tener que cubrir los costos adicionales del envío.</p>
                <p> Sí estas haciendo una compra que es un regalo para otra persona, te pedimos que nos dejes tus datos de
                contacto y los datos del cumpleañero, así podemos comunicarnos con ambas partes ante cualquier
                inconveniente que pueda surgir. Es muy importante que nos brindes los domicilios correctos y los números
                de WhatsApp.</p>

                <p> Cualquier duda o inquietud podés ponerte en contacto con nosotros vía email o por WhatsApp
                (11-3931-3909).</p>

               
            </div>
        </main>



        <%- include('./partials/script.ejs') %>

</body>
<%- include('./partials/footer.ejs') %>

</html>