<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Locales</title>
</head>

<body class="locals">
    <%- include('./partials/header.ejs') %>

        <main class="locals-container">
            <div class="rute-container">
                <div class="rute cate-product">
                    <a href="/">Home</a>
                    <span>/</span>
                    <a href="/locals">Locales</a>
                </div>
            </div> 
            <div class="locals-contain">
                <h2>Nuestros Locales</h2>
                <div>
                    <h4>CASA CENTRAL CASTELAR</h4>
                    <p>Candelaria 1255</p>
                    
                    <p>LUNES A SÁBADO DE 9 A 18 HS</p>
                    <p>DOMINGOS Y FERIADOS DE 9:30 A 13 HS</p>
                    


                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45049.98536608477!2d-60.80667793414691!3d-32.94149838878021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b64dfd85c3cdbf%3A0xf1261f02336d5639!2sTimb%C3%B3%20vivero!5e0!3m2!1ses!2sar!4v1647794099843!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </main>



        <%- include('./partials/script.ejs') %>

</body>
<%- include('./partials/footer.ejs') %>

</html>




