<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Carrito</title> 
</head>

<body>
    <%- include('./partials/header.ejs')  %>

    <main class="shopping">
        <h2>Mi Carrito</h2>
        <div class="list-products">

            <div class="product-details">
                <img src="images/canasto-con-asas.jpeg" alt="">
                <p class="detail">Canasto con asas</p>
                <div class="cant">

                    <form action="">
                        <button class="btn-cant">-</button>
                        <input type="num" value="1">
                        <button class="btn-cant">+</button>
                    </form>
                </div>
                <p class="price">$600</p>
            </div>
            <div class="btn-remove-product">
                <button class="btn-rem-product" type="reset">Eliminar</button>
            </div>


            <div class="product-details">
                <img src="images/orquidea-dendrobium.jpeg" alt="">
                <p class="detail">Orquidea Dendrobium</p>
                <div class="cant">

                    <form action="">
                        <button class="btn-cant">-</button>
                        <input type="num" value="2">
                        <button class="btn-cant">+</button>
                    </form>
                </div>
                <p class="price">$1400</p>
            </div>
            <div class="btn-remove-product">
                <button class="btn-rem-product" type="reset">Eliminar</button>
            </div>


            <div class="product-details">
                <img src="images/malvón-italiano.png" alt="">
                <p class="detail">Malvón Italiano</p>
                <div class="cant">

                    <form action="">
                        <button class="btn-cant">-</button>
                        <input type="num" value="4">
                        <button class="btn-cant">+</button>
                    </form>
                </div>
                <p class="price">$2400</p>
            </div>
            <div class="btn-remove-product">
                <button class="btn-rem-product" type="reset">Eliminar</button>
            </div>

            <div class="product-details">
                <img src="images/cat-macetas.jpeg" alt="">
                <p class="detail">Macetas Grandes</p>
                <div class="cant">

                    <form action="">
                        <button class="btn-cant">-</button>
                        <input type="num" value="3">
                        <button class="btn-cant">+</button>
                    </form>
                </div>
                <p class="price">$3000</p>
            </div>
            <div class="btn-remove-product">
                <button class="btn-rem-product" type="reset">Eliminar</button>
            </div>

        </div>




        <div class="total-price">
            <div class="detail-price">
                <p>Precio del envío</p>
                <p class="price2">$500</p>
            </div>
            <div class="detail-price">
                <p>Total</p>
                <p class="price2">$7900</p>
            </div>
        </div>

        <div class="buttom">
            <a href="shoppingCart/payment"><button class="btn paid" type="submit">Pagar</button></a>
        </div>
    </main>

    <%- include('./partials/footer.ejs')  %>
</body>

</html>