<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tarjeta.css">
    <title>Document</title>
</head>
<body>
    <main >

        <div class="product">
            <a href="">
                <div class="image-container">
                    <img src="../../public/images/cat-macetitas.png" alt="">
                </div>
            </a>
            
            <div class="tarjet-product-description">
                <p> mACETA</p>
                <p> $1000</p>
            </div>
            <a href="">Ver</a>
        </div>


        <div class="product">
            <div class="image-container">
                <img src="../../public/images/1639444549595_img_.jpg" alt="">
            </div>
            <div class="tarjet-product-description">
                <p> mACETA</p>
                <p> $1000</p>
            </div>
            <a href="">Ver</a>
        </div>

        
        
        
    </main>
    
</body>
</html>