<div class="slide-container">
    <div class="slide fade">
        <img src="/img/interiorMayo2022.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/img/hallMayo2022.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/img/demoPresentacion.jpg" alt="">
    </div>

</div>
<br>