<div class="slide-container">
    <div class="slide fade">
        <img src="/img/huerta-tomate.jpg alt="">
    </div>
    <div class="slide fade">
        <img src="/img/prueba2.vivero.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/img/prueba3.vivero.jpg" alt="">
    </div>

</div>
<br>