<div class="slide-container">
    <div class="slide fade">
        <img src="/img/huerta-tomate.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/img/fondoAdminUsers.jpg" alt="">
    </div>
    <div class="slide fade">
        <img src="/img/regalitoRosaTimbo.jpg" alt="">
    </div>

</div>
<br>