<footer class="footer">
    <div class="content">
        <div class="main_footer">
            <nav class="main_navbar_footer">
                <h4>Navegación</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/product">Productos</a></li>
                    <li><a href="/locals">Locales</a></li>
                    <li><a href="/frequent-questions">Preguntas frecuentes</a></li>
                </ul>
            </nav>
            <nav class="contacts">
                <h4>Contáctanos</h4>
                <ul>
                    <li><a href="#">Teléfono</a></li>
                    <li><a href="mailto:vivero.timbo.bs@gmail.com">E-mail</a>
                    </li>
                    <li><a href="/locals">Ubicación</a></li>
                </ul>
            </nav>
            <nav class="social">
                <h4>Redes Sociales</h4>
                <ul>
                    <li><a href="https://api.whatsapp.com/send?phone=5491132331374&text=¡Hola!,%20Me%20gustaría%20solicitar%20más%20información"
                            target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
                </ul>
            </nav>
            <p>© Todos los derechos reservados. Marca Registrada</p>
        </div>
    </div>
</footer><!-- footer -->