<!DOCTYPE html>
<html lang="en">
    <%- include('./headAdmin')  %>
<body>
    <%- include('./headerAdmin-home')  %>

    <main class="main-home-admin">
        <div>
            <img src="images/Logo.png" alt="">
        </div>
        <div>
            <h2>Hola, Bienvenid@ nuevamente</h2>
        </div>
    </main>

    <script src="../js/menuAdmin.js"></script>
</body>
</html>