<header class="header">
    <nav class="nav-admin">
        <ul>
            <li class="burger-menu" onclick="dropMenu()"><i class="fas fa-bars"></i></li>
            <li><a href="/admin" class="home-icon">
                <i class="fas fa-home" aria-hidden="true">
                    
                </i></a></li>

        </ul>
    </nav>
    <a href="/admin" ><i class="fas fa-home"></i></a>
</div>
        <ul class="product-btn">
            <li class="menu-btn" onclick="dropSubCategory1()">Productos</li>
            <div class="menu-dropdown-mobile" id="navigation-bar-mobile">
        </ul>
        <ul class="menu-btn-list" id="btn-product" >
            <li><a href="/admin/list-product">Ver Productos</a> </li>
            <li><a href="/admin/add">Agregar Productos</a> </li>
            <li><a href="/admin/all-category">Ver Categorias</a></li>
            <li><a href="">Productos y categorias eliminados</a></li>
        </ul>

        <ul class="product-btn">
            <li class="menu-btn" onclick="dropSubCategory2()">Usuarios</li>
        </ul>
        <ul class="menu-btn-list" id="btn-user">
            <li><a href="/admin/list-user">Lista de Usuarios</a></li>
            </ul>
    </div>
  </nav>
    </div>
       
    </div>
</header>