<header class="header">
    <nav class="nav-admin">
        <ul>
            <li class="burger-menu" onclick="dropMenu()"><i class="fas fa-bars"></i></li>
            <li><a href="/admin"><i class="fas fa-home"></i></a></li>

        </ul>
    </nav>

    <div class="menu-dropdown-mobile" id="navigation-bar-mobile">
        <ul class="product-btn">
            <li class="menu-btn" onclick="dropSubCategory1()" >Productos</li>
        </ul>
        <ul class="menu-btn-list" id="btn-product" >
            <li><a href="/admin/list-product">Ver Productos</a> </li>
            <li><a href="/admin/add">Agregar Productos</a> </li>
            <li><a href="/admin/all-category">Ver Categorias</a></li>
            <li><a href="">Productos y categorias eliminados</a></li>
        </ul>

        <ul class="product-btn">
            <li class="menu-btn" onclick="dropSubCategory2()">Usuarios</li>
        </ul>
        <ul class="menu-btn-list" id="btn-user">
            <li><a href="">Ver Usuarios</a></li>
            <li><a href="">Agregar Usuario</a></li>
            <li><a href="">Usuarios desabilitados</a></li>
            
        </ul>
    </div>
    <div class="menu-dropdown-desktop" id="navigation-bar-mobile">

        <div class="container-btn">
            <ul class="product-btn">
                <li class="menu-btn" onclick="dropSubCategory3()" >Productos</li>
            </ul>
        </div>
        <div class="container-btn">
            <ul class="product-btn">
                <li class="menu-btn" onclick="dropSubCategory4()">Usuarios</li>
            </ul>
        </div>
        <ul class="menu-btn-list" id="btn-product" >
            <li><a href="/admin/list-product">Ver Productos</a> </li>
            <li><a href="/admin/add">Agregar Productos</a> </li>
            <li><a href="/admin/all-category">Ver Categorias</a></li>
            <li><a href="">Productos y categorias eliminados</a></li>
        </ul>    
            
        <ul class="menu-btn-list" id="btn-user">
            <li><a href="">Ver Usuarios</a></li>
            <li><a href="">Agregar Usuario</a></li>
            <li><a href="">Usuarios desabilitados</a></li> 
        </ul>
        
        
    </div>
</header>