<header class="header">
    <nav class="nav-admin">
        <ul>
            <li class="burger-menu" onclick="dropMenu()"><i class="fas fa-bars"></i></li>
            <li><a href="/admin"><i class="fas fa-home"></i></a></li>
            <li><a href=""><i class="far fa-comments"></i></a></li>
            <li><a href=""><i class="fas fa-dollar-sign"></i></a></li>
            <li><a href=""><i class="fas fa-truck-loading"></i></a></li>
        </ul>
    </nav>

    <div class="menu-dropdown" id="navigation-bar-mobile">
        <ul class="product-btn">
            <li class="menu-btn" onclick="dropSubCategory1()" >Productos</li>
        </ul>
        <ul class="menu-btn-list" id="btn-product" >
            <li><a href="list-product">Ver Productos</a> </li>
            <li><a href="add">Agregar Productos</a> </li>
            <li><a href="all-category">Ver Categorias</a></li>
            <li><a href="">Productos y categorias eliminados</a></li>
        </ul>

        <ul class="product-btn">
            <li class="menu-btn" onclick="dropSubCategory2()">Usuarios</li>
        </ul>
        <ul class="menu-btn-list" id="btn-user">
            <li><a href="">Ver Usuarios</a></li>
            <li><a href="">Agregar Usuario</a></li>
            <li><a href="">Usuarios desabilitados</a></li>
            
        </ul>
    </div>
</header>