<header class="header">
    <nav class="nav-admin">
        <ul>
            <li class="burger-menu" onclick="dropMenu()"><i class="fas fa-bars"></i></li>
            <li><a href="/admin" class="home-icon">
                    <i class="fas fa-home" aria-hidden="true">

                    </i></a></li>

        </ul>
    </nav>
    <!-- <a href="/admin"><i class="fas fa-home"></i></a> -->
    <!-- <ul class="product-btn">
        <li class="menu-btn" onclick="dropSubCategory1()">Productos</li>
        <div class="menu-dropdown-mobile" id="navigation-bar-mobile">
    </ul> -->
    <!-- <ul class="menu-btn-list" id="btn-product">
        <li><a href="/admin/list-product">Ver Productos</a> </li>
        <li><a href="/admin/add">Agregar Productos</a> </li>
        <li><a href="/admin/all-category">Ver Categorias</a></li>
        <li><a href="">Productos y categorias eliminados</a></li>
    </ul> -->

    <!-- <ul class="product-btn">
        <li class="menu-btn" onclick="dropSubCategory2()">Usuarios</li>
    </ul> -->
    <!-- <ul class="menu-btn-list" id="btn-user"> -->

    <!-- <li><a href="/admin/list-user">Ver Usuarios</a></li> -->

    <!-- <li><a href="/admin/users">Ver Usuarios</a></li> -->

    <!-- <li><a href="">Agregar Usuario</a></li> -->
    <!-- <li><a href="">Usuarios desabilitados</a></li> -->

    <!-- </ul> -->
    <!-- </div> -->

    <nav class="menu-dropdown-desktop" id="navigation-bar-mobile">
        <div class="home-icon">
            <a href="/admin"><i class="fas fa-home"></i></a>
        </div>

        <div class="container-btn">
            <ul class="btn-nav-drop">
                <li class="menu-btn-product" onclick="dropSubCategory3()" id="btn-drop"><a>Productos <i
                            class="fas fa-sort-down arrow" id="arrow-product"></i></a></li>
            </ul>

        </div>
        <div class="container-btn">
            <ul class="btn-nav-drop">
                <li class="menu-btn-user" onclick="dropSubCategory4()" id="btn-drop2"><a>Usuarios <i
                            class="fas fa-sort-down arrow" id="arrow-user"></i></a></li>
            </ul>


        </div>
    </nav>
    <div class="sub-menu-nav">
        <ul class="menu-btn-list nProduct" id="btn-product-desktop">
            <li><a href="/admin/list-product">Ver Productos</a> </li>
            <li><a href="/admin/add">Agregar Productos</a> </li>
            <li><a href="/admin/all-category">Ver Categorias</a></li>
            <li><a href="">Productos y categorias eliminados</a></li>
        </ul>
        <ul class="menu-btn-list nUser" id="btn-user-desktop">
            <li><a href="/admin/list-user">Ver Usuarios</a></li>
            <!-- <li><a href="">Agregar Usuario</a></li> -->
            <li><a href="">Usuarios desabilitados</a></li>

    </div>
    </nav>



</header>