<%- include('header') -%>
<h1> Crear Usuario</h1>
<ul>
    <% for (let i = 0; i < users.length; i++) { %>
       <li>
           <a href="/users/<%users[i].id%>">
               
           </a>
           <%=users[i].name%>
       </li>
    <%  } %>
</ul>
<form action='/adminControllers/create' method="POST">
    <div>
        <label for="">Nombre</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="">Email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="">Password</label>
        <input type="int" name="password">
    </div>
    <div>
        <label for="">Avatar</label>
        <input type="img" name="avatar">
    </div>
    <div>
        <label for="">Dirección</label>
        <input type="int" name="adress">
    </div>
    <div>
        <label for="">Teléfono</label>
        <input type="date" name="phone">
    </div>
    <div>
        <label for="">CP</label>
        <input type="int" name="cp">
    </div>
    <div>
        <label for="">Provincia</label>
        <input type="text" name="province">
    </div>
    <div>
        <label for="">Pais</label>
        <input type="text" name="country">
    </div>
    <div>
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="date_birth">
    </div>
    <div>
        <label for="">Edad</label>
        <input type="date" name="age">
    </div>
    <div>
        <label for="">Rol</label>
        <select name="rol" >
            <% for (let i = 0; i < rol.length; i++) { %>

             <option value="<%=rol[i].id">
                 <%rol[i].name %>
              <% } %>
            </option>
        </select>
    </div>
    <button type="submit"> Crear</button>
</form>
<%- include('footer') -%>