<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main class="login">
            <div class="rute">
                <a href="/home">Home</a>
                <span>/</span>
                <a href="/Mi cuenta">Mi cuenta</a>
                <span>/</span>
                <a href="/login">Inicio de sesión</a>
            </div>

            <h2>Inicio de sesión</h2>
            <div class="form-container">
                <form action="">
                    <div class="form">
                        <div class="input-container">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="aaaaaaaaa@example.com" required>
                            <span class="error-message">Ingrese un email registrado</span>
                        </div>

                        <div class="input-container">
                            <label for="pass">Contraseña</label>
                            <input type="password" id="pass" name="password" placeholder="password" required>
                            <span class="error-message">Contraseña no valida</span>
                        </div>

                        <div class="recover-password">
                            <a href="#">¿Olvidaste la Contraseña?</a>
                        </div>

                        <div class="button-submit">
                            <button type="submit">Iniciar</button>
                        </div>

                        <div class="create-count">
                            <a href="./register">¿No tenés una cuenta? Crear una</a>
                        </div>
                        <hr>
                    </div>
                </form>



                <div class="log-in-google">
                    <a href="#"><img src="images/logo-google.png" alt="google"> Crear cuenta con Google</a>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
</body>

</html>