<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Perfil de usuario</title>
</head>

<body class="profile">

    <%- include('../partials/header.ejs') %>

        <main>
            <div class="rute">
                <a href="/home">Home</a>
                <span>/</span>
                <a href="/Mi perfil">Mi perfil</a><span>/</span>
                <a href="/perfilUsuario">Mis datos</a>
            </div>
            <h2>Mis Datos</h2>
            <div class="form-container">
                <form action="">
                    <div class="form">


                        <div class="create-count">
                            <a href="/perfilUsuario">Editar</a>
                        </div>
                        <label for="name">User Name</label>
                        <input type="text" id="name" name="name" placeholder="Nombre" required>

                        <div class="input-container">
                            <label for="email">User Email</label>
                            <input type="email" id="email" name="email" placeholder="aaaaaaaaa@example.com" required>
                            <span class="error-message">Ya existe una cuenta registrada con ese email</span>
                        </div>
                        <div class="input-container">
                            <label for="pass">User password</label>
                            <input type="password" id="pass" name="password" placeholder="password" required>
                        </div>
                        <div class="input-container">
                            <label for="pass">Confirma password</label>
                            <input type="password" id="pass" name="password" placeholder="password" required>
                            <span class="error-message">Las contraseñas no coinciden</span>
                        </div>
                        <div class="button-submit">
                            <button type="submit">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>
</body>

</html>